@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #333;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
header {
  padding: 10px;
  background: #a7706a;
  color: #111;
  font-size: 20px;
  text-align: center;
  transition: all 1s ease-in;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px);
  grid-gap: 10px;
  justify-items: normal;
  align-items: normal;
  width: 100vw;
  height: 100vh;
}

.wrapper > div {
 
  padding: 1em;
  font-size: 25px;
  cursor: pointer;
  color: #333;
  background-size: cover;
  background-attachment: fixed;


  flex-direction: column;

  transition: margin-right 0.5s;
}

.wrapper > div:hover {
  opacity: 0.9;
  transform: scale(0.98);
}
 

/* MENU LIST */
.menu {
  background-color: #111;
  grid-column: 1/3;
  grid-row: 1/6;
  transition: none;
}

.menu-list li {  /*  responsible for the object in manage room*/
  text-decoration: none;
  list-style-type: none;
  color:#D3D3D3;
  padding-top: 10px;

}

.menu-list a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

#components-list{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.menu p{
  font-size: 70px;
  color: #818181;
}

/* COMPONENT INPUT STYLE */
#component-input{
  height:20px;
  
}
#component-input:focus {
  outline: none;
  outline-offset: -4px;
}

#btnCreate{
  width: 80px;
  margin: 10px;
}
#btnCreate:focus{
  outline: 1px solid #fff;
  outline-offset: -4px;
}

#btnCreate:hover{
  background: rgba(194, 158, 153, 0.55);
  text-decoration: none;
}

/* ROOM GRID BLOCKS */
.room-object{
  
  font-size: 30px;
  text-align: center;
  padding: 20px;
  margin-top: 0;
}
.room-object:hover {
  color: rgb(121, 52, 15);
}
.bathroom {
  grid-column: 3;
  grid-row: 1/4;
  text-align: left;
}
.hallway {
  grid-column: 4;
  grid-row: 1/4;
}

.kitchen {
  grid-column: 5;
  grid-row: 1/4;
}

.bedroom {
  grid-column: 3;
  grid-row: 4/5;
}

.living-room {
  grid-column: 4/6;
  grid-row: 4/5;
  background-size: cover;
  background-attachment: scroll;
}



.bg {
  background: url('https://i.ibb.co/Fb5jb3J/bg2.jpg');
  color: #333;
}


.controls li {
  list-style: none;
  text-align: left;
  padding-top: 0;

  font-size: 20px;

}



#components{
  font-size: 30px;
}

#components-list{
  font-size: 20px;
}

/* DROPDOWN list */
#components-list{
  display: none;;
}

#components-list.active{
  display: block;
}


/* CHOOSE COMPONENTS FROM THE SELECT LIST */
.choose-components{
  width:150px
}

.choose-components:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}
.add-components{
  width: 50px;
  margin: 10px;
}
.add-components:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.add-components:hover{
  background: rgba(194, 158, 153, 0.55);
  text-decoration: none;
}





/* component-delete-from-room */

.component-delete{
  text-decoration: none;
  margin: 15px 5px;
  padding: 0 5px;
}

.component-delete:hover{
  background: #BC8F8F;
  text-decoration: none;
}


.Kitchen-Conditioner-input-number-box, 
.LivingRoom-Conditioner-input-number-box,
.Bedroom-Conditioner-input-number-box,
.Bathroom-Conditioner-input-number-box,
.Hallway-Conditioner-input-number-box {
  margin: 5px;
  width: 30px;
  display: inline-block;
}

.Kitchen-Conditioner-input-number-box::-webkit-outer-spin-button,
.Kitchen-Conditioner-input-number-box::-webkit-inner-spin-button,
.LivingRoom-Conditioner-input-number-box::-webkit-outer-spin-button,
.LivingRoom-Conditioner-input-number-box::-webkit-inner-spin-button,
.Bedroom-Conditioner-input-number-box::-webkit-outer-spin-button,
.Bedroom-Conditioner-input-number-box::-webkit-inner-spin-button,
.Bathroom-Conditioner-input-number-box::-webkit-outer-spin-button,
.Bathroom-Conditioner-input-number-box::-webkit-inner-spin-button,
.Hallway-Conditioner-input-number-box::-webkit-outer-spin-button,
.Hallway-Conditioner-input-number-box::-webkit-inner-spin-button{
  -webkit-appearance: none;
}


.delete-item-from-settings{
  margin-left: 10px;
 
}
.span-style{
  font-size: 20px;
  display: flex;
  margin-top: 5px;
}

.Kitchen-btn-to-set-temp,
.LivingRoom-btn-to-set-temp, 
.Bedroom-btn-to-set-temp,
.Bathroom-btn-to-set-temp,
.Hallway-btn-to-set-temp,
.Kitchen-Conditioner-input-number-box,
.LivingRoom-Conditioner-input-number-box,
.Bedroom-Conditioner-input-number-box,
.Bathroom-Conditioner-input-number-box,
.Hallway-Conditioner-input-number-box {
  
  margin: 10px 5px;
  padding: 5px;
  text-decoration: none;
  color: rgb(29, 22, 22) !important;
  text-transform: uppercase;
  background: #ffe0b2;
  border: none;
  display: inline-block;
}

.Kitchen-btn-to-set-temp:hover,
.LivingRoom-btn-to-set-temp:hover, 
.Bedroom-btn-to-set-temp:hover,
.Bathroom-btn-to-set-tem:hover,
.Hallway-btn-to-set-temp:hover{
  background: rgba(61, 19, 16, 0.55);
}
.Kitchen-btn-to-set-temp:focus,
.LivingRoom-btn-to-set-temp:focus, 
.Bedroom-btn-to-set-temp:focus,
.Bathroom-btn-to-set-temp:focus,
.Hallway-btn-to-set-temp:focus,
.Kitchen-Conditioner-input-number-box:focus,
.LivingRoom-Conditioner-input-number-box:focus,
.Bedroom-Conditioner-input-number-box:focus,
.Bathroom-Conditioner-input-number-box:focus,
.Hallway-Conditioner-input-number-box:focus {
  outline: none;
  outline-offset: -4px;
}

input[type='checkbox']{
  appearance: none;
}
input[type='checkbox']:focus{
  outline:none;
}
input[type='checkbox']:after {
  appearance: none;
  line-height: 1.5em;
  content: '';
  display: flex;
  width: 18px;
  height: 18px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 3px;
  background: rgb(233, 209, 76);
  border: 1px solid black;
  opacity: 0.6;
  }
  input[type='checkbox']:checked:after {
  content: '✔';
  text-align: center;
  }

